.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(207, 207, 207, 0.5);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  right: -8px;
  top: -8px;
}

.notification--small {
  right: -4px;
  top: -4px;
  width: 4px;
  height: 4px;
}
